body {
    background-image: url('/images/background.jpg');
    background-repeat: no-repeat;
    background-image: cover;
  }

  #game-box {
    background-image: url('/images/game-background.webp');
    background-image: cover;
    background-position: center;
    border-radius: 20px;
    background-color: grey;
    width: 70vmin;
    height: 70vmin;
    display: grid;
    margin: 0%;
    grid-template-rows: repeat(41,1fr);
    grid-template-columns: repeat(41,1fr);
    align-self: center;
    margin-left: 32%;
  }

  #button-box{
    width: 77vmin;
    height: 10vmin;
    display: grid;
    margin: 0%;
    align-self: center;
    margin-left: 32%;
    display: inline-block;
  }

  .start-button{
    width: 30%;
    height: 70%;
    color: black;
    background-image: url("/images/green.jpg");
  }

  .info-button{
    width: 30%;
    height: 70%;
    margin: 0%;
    color: black;
    background-image: url("/images/purple.jpg");
  }

  .highScore-button{
    width: 30%;
    height: 70%;;
    margin: 0%;
    color: black;
    background-image: url("/images/yellow.jpeg");
  }

  .snake{
    background-color: rgb(3, 184, 3);
    border: .25vmin solid black;

  }

  .apple{
    background-color: rgb(250, 81, 81);
    border: .25vmin solid black;

  }